.mb20 {
  margin-bottom: 20px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb30 {
  margin-bottom: 30px;
}
.mt50 {
  margin-top: 50px;
}
.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}
